﻿@page "/todo"
@using ToDoListBlazorTwo.Model
@using ToDoListBlazorTwo.Data
@using Microsoft.EntityFrameworkCore
@using System;
@inject ToDoBlazorTwoContext context;


<h4>Todo Items Grouped In TaskList</h4>

<input placeholder="Enter the name of task" @bind="newTaskName" />
<button @onclick="AddTask">Create Task</button>

<ul>
    @foreach (var task in tasks)
    {
    <li>
        <div>
            @if (task == editTask)
            {

                <input id="textBox" @onfocusout="@(() => OnFocusOutTask(task.Id))" @bind="task.Name" />

            }
            else
            {

                <span id="textField" @onclick="@(() => OnTextClickedTask(task.Id))">@task.Name</span>

            }
            
        </div>
       
    </li>

    }
</ul>


@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <select id="tasks" @onchange="@TaskChanged">
        <option>-- Select Task List --</option>
        @foreach (var task in tasks)
        {
            <option value="@task.Id">@task.Name</option>

        }
    </select>

}
@if (items != null)
{
    <select id="items">
        <option>-- Select Task --</option>
        @foreach (var item in items)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
}




<h4>Todo All Items</h4>

<input placeholder="Enter the name of task" @bind="newTodoName" />
<button @onclick="CreateTodo">Create ToDo</button>

<ul>
    @foreach (var todo in items)
    {
        <li>
            <div>
                <label>
                    <input type=checkbox @onchange="@(() => ToggleToDo(todo.Id))" checked="@todo.Done" />
                </label>

                @if (todo == editItem)
                {

                    <input id="textBox" @onfocusout="@(() => OnFocusOut(todo.Id))" @bind="todo.Name" />

                }
                else
                {

                    <span id="textField" @onclick="@(() => OnTextClicked(todo.Id))">@todo.Name</span>

                }
                <label>
                    <button @onclick="@(() => RemoveItem(todo.Id))"><i class="oi oi-x"></i></button>
                </label>
            </div>
        </li>

    }
</ul>



@code{

    private IList<TaskList> tasks = new List<TaskList>();

    private IList<ToDoItem> items = new List<ToDoItem>();
    private string newTodoName;
    private string newTaskName;
    private ToDoItem editItem;
    private TaskList editTask;





    //bool _editing = false;

    void OnTextClicked(int id)
    {
        editItem = items.FirstOrDefault(i => i.Id == id);

        //if (item.Id == id)
        //{
        //    _editing = true;
        //}


    }

    void OnFocusOut(int id)
    {
        editItem = null;

        var item = items.FirstOrDefault(i => i.Id == id);

        context.Entry(item).State = EntityState.Modified;
        context.SaveChanges();
        context.Entry(item).State = EntityState.Detached;

        items = items.OrderBy(x => x.Done).ThenBy(x => x.Name).ToList();
        //var item = items.FirstOrDefault(i => i.Id == id);
        //if (item.Id != id)
        //{
        //    _editing = false;
        //}
    }


    protected override async Task OnInitializedAsync()
    {
        items = await context.ToDoItem.AsNoTracking().ToListAsync();
        items = items.OrderBy(x => x.Done).ThenBy(x => x.Name).ToList();
        tasks = await context.TaskList.AsNoTracking().Include(tl => tl.ToDoItems).ToListAsync();

       

    }

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTaskName))
        {
            var task = new TaskList { Name = newTaskName };
            context.Add<TaskList>(task);

            newTaskName = string.Empty;

            context.SaveChanges();
            context.Entry(task).State = EntityState.Detached;
            tasks.Add(task);
        }
    }


    private void CreateTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoName))
        {

            var item = new ToDoItem { Name = newTodoName, Done = false, TaskListId = 1 };
            context.Add<ToDoItem>(item);

            newTodoName = string.Empty;

            context.SaveChanges();
            context.Entry(item).State = EntityState.Detached;
            items.Add(item);
            items = items.OrderBy(x => x.Done).ThenBy(x => x.Name).ToList();
        }

    }

    private void ToggleToDo(int id)
    {
        var item = context.ToDoItem.FirstOrDefault(i => i.Id == id);//items.Where(i => i.ID == id).First();
        item.Done = !item.Done;
        context.SaveChanges();
        context.Entry(item).State = EntityState.Detached;

        item = items.FirstOrDefault(i => i.Id == id);
        item.Done = !item.Done;

        items = items.OrderBy(x => x.Done).ThenBy(x => x.Name).ToList();

        int currentPosition = items.IndexOf(item);
        int newPosition = currentPosition;

        if (item.Done)
        {

            while (newPosition < items.Count - 1 && !items[newPosition + 1].Done) // move the item down
            {
                newPosition++;
            }
        }
        else
        {
            while (newPosition > 0 && items[newPosition - 1].Done) //move the item up
            {
                newPosition--;
            }
        }
        if (newPosition != currentPosition)
        {
            items.RemoveAt(currentPosition);
            items.Insert(newPosition, item);
        }

    }

    private void RemoveItem(int id)
    {
        

        var itemToRemove = context.ToDoItem.FirstOrDefault(i => i.Id == id);

        if (itemToRemove != null)
        {
            context.ToDoItem.Remove(itemToRemove);
            context.SaveChanges();
        }

    }


    void TaskChanged(ChangeEventArgs e)
    {

        if (int.TryParse(e.Value.ToString(), out int id))
        {
            items = tasks.FirstOrDefault(a => a.Id == id).ToDoItems.ToList();
        }
        else
        {
            items = null;
        }

    }


    void OnTextClickedTask(int id)
    {
        editTask = tasks.FirstOrDefault(i => i.Id == id);

    }

    void OnFocusOutTask(int id)
    {
        editTask = null;

        var task = tasks.FirstOrDefault(i => i.Id == id);

        context.Entry(task).State = EntityState.Modified;
        context.SaveChanges();
        context.Entry(task).State = EntityState.Detached;



    }


 

}
